{% extends 'base.html' %}
{% load blog_tags %}

{% block main %}
    <article class="post post-{{ post.pk }}">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
            <div class="entry-meta">
                <span class="post-category"><a href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}</a></span>
                <span class="post-tags">
                    {% for tag in post.tags.all %}
                        <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                    {% empty %}
                        暂无标签
                    {% endfor %}
                </span>
                <span class="post-date">
                    <a href="#"><time class="entry-date" datetime="{{ post.created_time }}">
                    {{ post.created_time.date }}</time></a>
                </span>
                <span class="views-count"><a href="#">{{ post.views }} 阅读</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>{{ post.body|safe }}</p>
        </div>
    </article>

    <div id="container"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
            id: 'gitment-plugin',
            owner: 'jackylinpda',
            repo: 'jacklin.tech',
            oauth: {
                client_id: 'ecb1b041a8a559804e1d',
                client_secret: 'ae1cadcd48da7e72511b4c15641d952416e0ed7c'
            }
        });
        gitment.render('container')
    </script>
{% endblock main %}

{% block toc %}
    <div class="widget widget-content">
        <h3 class="widget-title">文章目录</h3>
        {{ post.toc|safe }}
    </div>
{% endblock toc %}
